global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend amqp_front
    bind *:5672
    default_backend amqp_back

backend amqp_back
    balance roundrobin
    option tcp-check
    server rabbitmq1 rabbitmq-node1:5672 check inter 5s rise 2 fall 3
    server rabbitmq2 rabbitmq-node2:5672 check inter 5s rise 2 fall 3
    server rabbitmq3 rabbitmq-node3:5672 check inter 5s rise 2 fall 3

frontend management_front
    bind *:15672
    mode http
    default_backend management_back

backend management_back
    balance roundrobin
    mode http
    option httpchk
    http-check send meth GET uri /api/healthchecks/node hdr Authorization "Basic Z3Vlc3Q6Z3Vlc3Q="
    http-check expect status 200
    server rabbitmq1 rabbitmq-node1:15672 check inter 5s rise 2 fall 3
    server rabbitmq2 rabbitmq-node2:15672 check inter 5s rise 2 fall 3
    server rabbitmq3 rabbitmq-node3:15672 check inter 5s rise 2 fall 3

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-node
    stats show-legends

